@font-face {
      font-family: 'Orbitron';
      src: url('/assets/Fonts/Orbitron/Orbitron-VariableFont_wght.ttf')
            format('truetype');
      font-family: 'Roboto';
      src: url('/assets/Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
      box-sizing: border-box;
}

:root {
      --ff-primary: 'Orbitron', sans-serif;
      --ff-secondary: 'Roboto', sans-serif;
}
html {
      height: 100%;
}
body {
      display: flex;
      flex-direction: column;
      position: relative;
      font-family: var(--ff-secondary);
      color: #e9eaec;
      max-width: 1400px;
      min-height: 100vh;
      margin: 0 auto;
}
